<div class="container pt-4">

    <div *ngIf="template$ | async; let selectedTemplate">

        <div class="heading">
            <a [routerLink]="'/'" class="mb-3 d-block back-button">Back to templates</a>
            <h3>Template "{{selectedTemplate.name}}":</h3>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="template-container p-3" #templateContainer [innerHTML]="selectedTemplate.template | safe:'html'"></div>
            </div>
            <div class="col-md-6">
                <form class="edit-panel-form" [formGroup]="editPanelForm" *ngIf="selectedElement$ | async; let selectedElement" >
                    <label class="input-label" for="templateTextInput">Text:</label>
                    <textarea id="templateTextInput" formControlName="text" cols="30" rows="4"></textarea>
                    <label class="input-label" for="templateFontSizeInput">Font-size:</label>
                    <input id="templateFontSizeInput" formControlName="fontSize" type="number" min="0" max="100">
                </form>
            </div>
        </div>

    </div>

</div>
