.heading {
  position: relative;
  .back-arrow {
    position: absolute;
    left: -1.5rem;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
